.container {
    display: inline-block;
    width: 214px;
    height: 148px;
    position: relative;
    background: #E0E0E0;
    margin: 2px 2px;
}

h3 {
    margin: 0;
    text-align: center;
}

.ship {
    width: 214px;
    height: 126px;
}

.ship .speed {
    position: absolute;
    left: 2px;
    bottom: 44px;
    background: #F2F6F7;
    z-index: 1;
    font-size: .8em;
}

.ship .ship-attributes {
    position: absolute;
    left:0;
    bottom: 0px;
    height: 44px;
}

.ship .ship-attributes .ship-attribute {
    border-left: 2px solid #E0E0E0;
    border-top: 2px solid #E0E0E0;
    height: 40px;
    display: inline-block;
}

.ship .ship-attributes .ship-attribute:last-child {
    border-right: 2px solid #E0E0E0;
}

.ship .ship-attributes .ship-attribute > img {
    width: 40px;
    height: 40px;
    background-color: #F2F6F7;
}

/* Radar Image */
.ship .ship-attributes .radar {
    position: absolute;
    background-color: #E0E0E0;
    overflow: hidden;
    width: 40px;
    height: 40px;
}

.ship .ship-attributes .radar img {
    width: 48px;
    height: 48px;
    position: absolute;
    right: -3px;
    bottom: -1px;
}

.ship-attributes .radar span {
    position: absolute;
    top: 24px;
    right: 2px;
    background: #E0E0E0;
    z-index: 1;
    font-size: .8em;
    font-weight:bold;
}

.shiplist {
    padding-left:100px;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}